
.home {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/nature.jpg);
    background-size: cover;
    opacity: .6;
    z-index: -1;
}
.title-home, .para-home {
    text-align: center;
}

.title-home {    
    padding-top: 7rem;
}

.para-home {
    font-size: 1.2rem;
}