
.python {
    width: 100%;
    height: 100%;   
    background-image: url('../assets/everglades.jpg');
    background-size: cover;
    opacity: .8;
    z-index: -1;    
}

.python-header {
    text-align: center;
}

.python figure {
    width: 300px;
    height: auto;
}

.python img {
    width: 100%;
    height: 100%;
}