
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #1a1a1a;
}

h3 {
    font-size: 1.8rem;
}
h1, span {
    color: green;
    font-weight: bold;
}
p, span {
    font-size: 1.2rem;
}

.content {
    overflow: scroll;
}

.subtle {
    padding: .5rem 2rem;
    border-radius: 6px;
    background-color: #1a1a1a;
    opacity: .8;
}