
.tile-link {
    display: block;
}

.tile {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    border: none;
}

.tile-img {
    width: 100%;
    height: 100%;    
}

.tile-text {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

.img2 {
    object-fit: fill;
    
}