
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  position: relative;
}

.wrap {
  padding-top: 5rem;
  width: 100%;
}
.row {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}